official-cpe-dictionary_v2.3.xml
cpe_embeddings_minilm.npy
cpe_data.pkl
template_updated.xlsx
config.ini
official-cpe-dictionary_v2.3.xml
cpe_embeddings.npy
cpe_dictionary.csv
models/*
*.pyc
template_test_updated.xlsx
